body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items:center;
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;
}

.gameBorder {
    border: solid black 10px;
    padding: 50px 30px 50px 30px;
    border-radius: 50px;
    background-color: #fbe3ff;
}

.topText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    padding-bottom: 50px;
}

.header {
    font-size: 70px;
    font-weight: bolder;
}

.instructions {
    font-size: 40px;
    font-weight: bold;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: solid black 10px;
    margin: 30px;
    width: 200px;
    height: 200px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
    flex: 0 0 auto;
    transition: 0.2s;
}


button:hover {
    transform: scale(1.1);
}

button:hover:active {
    transform: scale(1.2);
}

#rock {
    background-color: #c76395;
}

#paper {
    background-color: #c763bd;
}

#scissors {
    background-color: #ba63c7;
}

.buttons {
    display: flex;
}

#rock div {
    padding: 25px 0px 25px 0px;
}

#paper div {
    padding: 25px 0px 15px 0px;
}

#scissors div{
    padding: 25px 0px 20px 0px;
}

#rock img {
    width: 100px;
    height: auto;
}

#paper img {
    width: 70px;
    height: auto;
}

#scissors img {
    width: 80px;
    height: auto;
}

.bottomButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.playAgain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: #ae95ff;
    visibility: hidden;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff5588;
    border: solid black 10px;
    width: 600px;
    min-height: 100px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
}

@media (max-width: 900px) {
    .gameBorder {
        transform: scale(var(--scaleRatio));
    }
}